.body{
    margin: 0;
    padding: 0;
}
.Rotate{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;

}
.man1{
    margin: 200px 0px 0px 600px;
    width: 5%;
    height: 5%;
   

}
.num{
    margin: 200px 0px 0px 0px;
   text-align: center;

}

